/* Responsive */

/*  Breakpoints
    Tablet = 768px
    Celulares = 480px
*/

/* Breakpoint = 768px */
@media screen and (max-width: 768px) {
    /* Header */
    .navbar .navbar-icon img {
        width: 13.3vw; 
        height: 15.7vh;
    }

    /* Carro desplegable */
    .offcanvas .offcanvas-body .products .product .product-desc h2,
    .offcanvas .offcanvas-body .products .product .product-desc .product-remove {
        font-size: 0.85em;
    }

    .offcanvas .offcanvas-body .products .product .product-desc img{
        width: 9vw;
        height: 10vh;
    }
    
    .offcanvas .offcanvas-body .products .product .product-desc-2 .product-add .product-menos,
    .offcanvas .offcanvas-body .products .product .product-desc-2 .product-add .product-contador,
    .offcanvas .offcanvas-body .products .product .product-desc-2 .product-add .product-mas{
        font-size: 1.15em;
    }

    /* Footer */
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-container .group-1 img {
        width: 20vw;
    }

    .footer-container .group-2 h4 {
        width: 50vw;
        text-align: center;
    }

    .footer-container .group-2 p {
        width: 50vw;
        text-align: justify;
    }

    .footer-container .group-3 a img{
        width: 2.9vw;
    }

    /* Main index.html - Section-1 */
    .section-1{
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .section-1 .carousel .carousel-item{
        height: 60vh;
        width: 100vw;
    }

    .section-1 .compra {
        height: 40vh;
        width: 100%;
    }

    .section-1 .compra .text-compra {
        padding: 0em 1em 0.5em 1em;
    }
    /* Main index.html - section-2 */
    h1 {
        text-align: center;
    }

    .section-2 .products {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }

    .section-2 .products .card {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 75vh;
        width: 50vw;
    }

    .section-2 .products .card .text-section {
        margin-top: 0;
    }

    .section-2 .products .card img {
        margin: auto;
        width: 22vw;
        height: 40vh;
    }

    .section-2 .products .card .text-section h3 {
        font-size: 1.175em;
    }

    .section-2 .products .card .text-section p {
        font-size: 0.84em;
    }

    .section-2 .products .card .price-section {
        margin-top: 0.5em;
    }

    /* Main menú.html - group-b - group-c */
    .group-b .menu-container, .group-c .menu-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .menu-container .product {
        width: 30vw;
        height: 18vh;
    }

    .menu-container .product img {
        width: 12vw;
        height: 14vh;
    }

    .menu-container .product figcaption {
        font-size: 0.859em;
        font-weight: 700;
    }

    /* Main menú.html - modal */
    .modal {
        margin-top: 1em;
        height: 100vh;
    }
    
    .modal .modal-content .modal-body .modal-body-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }

    .modal .modal-content .modal-body .modal-body-container img {
        width: 25vw;
        height: 35vh;
    }

    /* Main únete.html - form */
    .form-container form, 
    .form-container form .form-input {
        width: 50vw;
    }

    .form-container form .form-submit {
        width: 28vw;
        margin-left: 12.5vw;
    }

    /* Main contrasenia.html y seguimiento.html */
    .form-forgot-container p,
    .form-seguimiento-container p {
        max-width: 80vw;
    }

    .form-forgot-container form .form-input,
    .form-seguimiento-container form .form-input {
        width: 50vw;
        height: 3vh;
    }

    .form-forgot-container form .form-submit,
    .form-seguimiento-container form .form-submit,
    .form-seguimiento-container .form-submit {
        width: 25vw;
        height: 6vh;
    }

    /* Main seguimiento-2.html */
    .seguimiento-container-1 .steps .steps-desc .union {
        width: 4vw;
        height: 55vh;
        margin-top: 2vh;
    }

    .seguimiento-container-1 .steps .steps-desc .circle {
        width: 7vw;
        height: 10vh;
    }

    .seguimiento-container-1 .steps .steps-desc .circle .done {
        font-size: 1.8em;
    }

    /* Main carrito.html */
    .carro-container img {
        margin: auto;
    }

    .carro-container  .carro-inf {
        display: flex;
        flex-direction: column;
        gap: 1em
    }


    .carro-container .carro-desc {
        margin-bottom: 1.9em;
    }

    .carro-container .carro-desc h2 {
        margin-bottom: 0.6em;
    }

    .carro-container .carro-inf .carro-desc .carro-buttons .carro-menos,
    .carro-container .carro-inf .carro-desc .carro-buttons .carro-contador,
    .carro-container .carro-inf .carro-desc .carro-buttons .carro-mas {
        width: 5vw;
    }

    .carro-container .carro-inf .carro-desc h2,
    .carro-pay-container .carro-pagar,
    .carro-container .carro-total,
    .carro-container .carro-total h2,
    .carro-container .carro-eliminar {
        font-size: 1.1em;
    }

    .carro-end-container .option-1 {
        width: 37.5vw;
    }

    .carro-end-container .option-2 {
        width: 30vw;
    }

    /* Main pago.html */
    .pago-container-1 .steps .steps-desc .union {
        width: 78vw;
        height: 4vh;
    }

    .pago-container-1 .steps .steps-desc .circle {
        width: 5vw;
        height: 8vh;
    }
    
    .pago-container-1 .steps .steps-desc .circle .done {
        font-size: 1.5em;
    }

    .pago-container-1 .steps .steps-desc-2 .step-detail {
        font-size: 0.8em;
    }

    .pago-container-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Resumen del pedido */

    .pago-container-2 .pago-resumen {
        width: 50vw;
        height: 70vh;
        margin-bottom: 10vh;
        margin-right: 18vw;
    }

    .pago-container-2 .pago-resumen .product .product-desc img {
        width: 15vw;
        height: 20vh;
        margin-bottom: 2em;
    }

    /* Primer paso del pago */

    .pago-container-2 .pago-datos form .form-input {
        width: 50vw;
    }
    .pago-container-2 .pago-datos form .form-submit {
        width: 20vw;
    }   
    
    /* Segundo paso del pago */

    .pago-container-2 .pago-metodo{
        margin-right: 18vw;
    }

    .pago-container-2 .pago-metodo .m-pago {
        width: 60vw;
    }

    .pago-container-2 .pago-metodo .m-pago-cont {
        margin-left: 15vw;
        width: 30vw;
    }

    /* Tercer paso del pago */

    .pago-container-2 .pago-details {
        margin-right: 18vw;
    }

    .pago-container-2 .pago-details .button-pagar {
        width: 20vw;
    }    

    /* Main ingreso.html */

    .form-login-container form,
    .form-login-container form .form-datos .form-input {
        width: 50vw;
    }

    .form-login-container form .form-question {
        width: 55vw;
    }

    .form-login-container form .form-question a{
        font-size: 0.6em;
    }

    .form-login-container form .form-submit {
        width: 35vw;
        font-size: 1em;
    }

    /* Main historial.html */
    
    .historial-detail-container .table-detail th,
    .historial-detail-container .table-detail td{
        padding-left: 1.1em;
        padding-right: 1.1em;
    }

    /* Main detalle.html */
    .detail-container img {
        width: 38vw;
        height: 50vh;
    }
}

