@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    background-color: #F3EAC9;
    font-family: "Poppins", sans-serif;
    
}

/* em = medida adaptable
   rem = medida mas exacta - no adaptable
*/

/* Header */

.navbar {
    background-color: #61888C;
    font-size: 1.25em;
    font-weight: 900;
}

.navbar .navbar-icon {
    display: flex;
    align-items: center;
    margin-left: 0.313em;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;  
    color: #BFA980;  
}

.navbar .navbar-icon img {
    width: 7.5vw; 
    height: 15.9vh;
    margin-right: 0.625rem;
}

.navbar .navbar-icon:hover,
.navbar .navbar-nav .nav-link:hover,
.navbar .right-side .icon:hover {
    color: white;  
}

.navbar .navbar-nav {
    margin: auto;
}

.navbar .navbar-nav .nav-link {
    color: #BFA980;
    font-weight: 900;
    font-size: 1.75rem;
}

.navbar .right-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #BFA980;
}

.navbar .right-side .icon {
    font-size: 1.875rem;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-right: 0.188em;
    color: #BFA980;
}


.navbar .right-side .btn-sesion {
    border-radius: 2.5em;
    border: 0.188em solid #436A6F;
    padding: 0.125rem 1rem 0.125rem 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    background-color: #BFA980;
}

.navbar .right-side .btn-sesion:hover {
    border: 0.188em solid white;
}

.navbar .navbar-toggler{
    border: 0.188em solid #61888C;
    margin-left: auto;
    margin-right: 1.25em;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: #BFA980;
    margin-top: 12.5em;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 3.125em;
    padding: 1.25rem;
    color: white;
}

.footer-container .group-1 img {
    width: 11vw;
    height: 24vh;
}

.footer-container .group-2 p {
    width: 23vw;
    text-align: justify;
}

.footer-container .group-3{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.footer-container .group-3 .social-links {
    display: flex;
    justify-content: space-around;
}

.footer-container .group-3 a img{
    width: 1.535vw;
}

/* Chat gpt para poder aplicar un hover sobre la imagen :/ */
.footer-container .group-3 img:hover {
    filter: invert(80%) 
            sepia(70%) 
            saturate(2226%) 
            hue-rotate(171deg) 
            brightness(99%) 
            contrast(95%);
}

.footer-copy {
    margin-top: 1.25em;    
    text-align: center;
    color: white;
    opacity: 70%;
}

/* Main index.html*/

/* Section 1 */

.section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #436A6F;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.section-1 .carousel .carousel-item{
    height: 60vh;
    width: 50vw;
}

.section-1 .compra {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section-1 .compra .text-compra {
    text-align: center;
    font-size: 1.875em;
    padding: 0em 1em 0em 1em;
    font-weight: 700;
    color: #BFA980;
}

.section-1 .btn-compra {
    border-radius: 2.5rem;
    border: 0.313em solid #61888C;
    background-color: #BFA980;
}

.section-1 .btn-compra .text-btn-compra {
    padding: 0.1rem 1rem 0.1rem 1rem;
    font-size: 1.775rem;
    font-weight: 700;
    color: white;
}

.section-1 .btn-compra:hover {
    border: 0.313em solid white;
}

/* Section 2 */

h1 {
    font-weight: 900;
    font-size: 1.875em;
    margin-top: 1.175em;
    margin-bottom: 2.25em;
    margin-left: 0.8em;
    color: #BFA980;
    
}

.section-2 .products {
    display: grid;
    grid-template-columns: repeat(2, minmax(32vw, 32vw));
    gap: 6.25em;
    justify-content: center;
    
}

.section-2 .products .card {
    display: flex;
    flex-direction: row;
    width: 32vw;
    height: 44vh;
    border: 0.188em solid #436A6F;
    border-radius: 1.875rem;
    background-color: #B0BCA6;
}

.section-2 .products .card img {
    width: 15vw;
    height: 42vh;
    padding: 0.625rem;
    border-radius: 1.875rem;
}

.section-2 .products .card .text-section {
    text-align: center;
    color: white;
}

.section-2 .products .card .text-section h3{
    font-size: 1.875rem;
    margin-bottom: 0.5em;
    font-weight: 700;   
}

.section-2 .products .card .text-section p{
    text-align: justify;  
    font-size: 0.938rem; 
    font-weight: 550;;
}

.section-2 .products .card .price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    padding: 0.625rem;
    text-align: center;
    color: white;
    font-weight: 550;
}

.section-2 .products .card .price-section .btn {
    color: white;
    font-weight: 700;
    border: 0.188em solid #436A6F;
    border-radius: 1.875rem;
    background-color: #BFA980;
}

.section-2 .products .card .price-section .btn:hover {
    border: 0.188em solid white;
}

/* Main menu.html */

.group-b .menu-container,
.group-c .menu-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.875em;
    margin-top: 3.125em;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

.menu-container .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 18vh;
}

.menu-container a{
    text-decoration: none;
}

.menu-container .product img {
    width: 6.5vw;
    height: 14vh;
    border-radius: 50%;
    border: 0.25em solid #61888C;
}

.menu-container .product figcaption {
    color: #BFA980;
    font-size: 1.125em;
    font-weight: 600;
}

hr {
    color: #BFA980;
}

/* Modals menu.hmtl */

.modal {
    margin-top: 10vh;
}

.modal .modal-header .btn-close {
    font-size: 1.1em;
}

.modal .modal-body .modal-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.modal .modal-body .modal-body-container img {
    width: 20.833vw;
    border-radius: 1.875rem;
    height: 50vh;
}

.modal .modal-body .modal-body-container .modal-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    height: 50vh;
}

.modal .modal-body .modal-body-container .modal-desc h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
}

.modal .modal-body .modal-body-container .modal-desc p {
    text-align: justify;
    font-weight: 400;
}

.modal .modal-body .modal-body-container .modal-desc .modal-buttons {
    text-align: right;
}

.modal .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-menos, .modal-carro-mas {
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 0.313rem;
}

.modal .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-menos:hover,
.modal .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-mas:hover {
    color: #61888C;
}

.modal .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-contador {
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.4em;
}

.modal .modal-footer {
    padding-right: 1em;
}

.modal .modal-footer .modal-button-add {
    border: 0.188em solid black;
    border-radius: 1.25rem;
    padding: 0.3em 1.4em 0.3em 1.4em;
    font-weight: 700;
}

.modal .modal-footer .modal-button-add:hover{
    border: 0.188em solid #61888C;
    color: #61888C;
}

/* Main unete.html */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    margin: auto;
    padding: 0.625rem;
}

.form-container form legend{
    color: #BFA980;
    font-size: 1.563em;
    font-weight: 600;
    text-align: center;
}

.form-container form .form-input {
    width: 28vw;
    height: 3vh;
    border: 0.188em solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding: 1.125rem;
}

.form-container form .form-submit {
    width: 10vw;
    padding: 0.313rem 0.625rem 0.313rem 0.625rem;
    background-color: #61888C;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border: 0.188em solid #436A6F;
    border-radius: 2.5rem;
    margin-top: 0.625em;
    margin-left: 9vw;
}

.form-container form .form-submit:hover {
    border: 0.188em solid white;
}

/* Main carrito */

.carro-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 100%;
    height: 100%;
}

.carro-container img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 0.25em solid #61888C;
}

.carro-container .carro-inf {
    display: flex;
    gap: 10em;
}

.carro-container .carro-inf .carro-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carro-container .carro-inf .carro-desc h2 {
    font-size: 1.25em;
    font-weight: 800;
    color: #BFA980;
    margin-bottom: 1.25em;
}

.carro-container .carro-inf .carro-desc .carro-buttons {
    display: flex;
    justify-content: center;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-menos {
    width: 2.5vw;
    height: 6vh;
    background-color: #F3EAC9;
    border: 0.15em solid #61888C;
    color: #BFA980;
    font-weight: 800;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}


.carro-container .carro-inf .carro-desc .carro-buttons .carro-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 6vh;
    background-color: #F3EAC9;
    border-top: 0.15em solid #61888C;
    border-bottom: 0.15em solid #61888C;
    color: #BFA980;
    font-weight: 800;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-mas {
    width: 2.5vw;
    height: 6vh;
    background-color: #F3EAC9;
    border: 0.15em solid #61888C;
    color: #BFA980;
    font-weight: 800;
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-menos:hover,
.carro-container .carro-inf .carro-desc .carro-buttons .carro-mas:hover {
    color: #436A6F;
}

.carro-container .carro-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #BFA980;
    font-weight: 600;
    font-size: 1.563em;
}

.carro-container .carro-total h2{
    font-size: 0.85em;
    font-weight: 800;
    color: #BFA980;
    margin-bottom: 1.25em;
}

.carro-container .carro-eliminar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #BFA980;
    background-color: #F3EAC9;
    border: none;
}

.carro-container .carro-eliminar:hover {
    color: #436A6F;
}

.carro-pay-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carro-pay-container .carro-pagar{
    color: #BFA980;
    font-size: 1.875em;
    font-weight: 600;
    padding: 1.25em;
}

.carro-end-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.125em;
}

.carro-end-container .option-1,
.carro-end-container .option-2{
    width: 16vw;
    height: 5.7vh;
    border: 0.188em solid #61888C;
    border-radius: 1.25rem;
    background-color: #436A6F;
    color: white;
    font-weight: 400;
}

.carro-end-container .option-1:hover,
.carro-end-container .option-2:hover{ 
    border: 0.188em solid white;
}

/* Main ingreso.html */

.form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    margin: auto;
    margin-top: 5em;
    padding: 0.625rem;
}

.form-login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login-container form legend {
    color: #BFA980;
    font-size: 2.5em;
    font-weight: 650;
    text-align: center;
}

.form-login-container form .form-datos .form-input {
    width: 28vw;
    height: 3vh;
    border: 0.188em solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding: 1.125rem;
}

.form-login-container form .form-question {
    display: flex;
    justify-content: space-between;
    width: 28vw;
    padding: 0 0.313rem 0.938rem 1.563rem;
}

.form-login-container form .form-question a {
    text-decoration: none;
    font-size: 0.875em;   
    color: #BFA980;
    font-weight: 600; 
}

.form-login-container form .form-question a:hover {
    color: #436A6F;
}

.form-login-container form .form-submit {
    width: 15vw;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: #61888C;
    border: 0.188em solid #436A6F;
    border-radius: 1.875rem;
}
.form-login-container form .form-submit:hover{
    border: 0.188em solid white;
}
