<!-- Update detalles de pedidos -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <!-- Link bootstrap -->
    <link
      rel="stylesheet"
      href="{% static '/css/bootstrap/bootstrap.min.css' %}"
    />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}" />
    <!-- Link iconos -->
    <title>Administrador</title>
  </head>
  <body>
    <!-- Header -->
    {% include "base/header_adm.html" %}

    <!-- Main -->
    <main>
      <h1>Modificación de Detalles de Pedidos</h1>
      <section class="form-container">
        <form action="{% url 'dt_upd' %}" method="POST">
          
          {% csrf_token %}

          <legend>Detalles de Pedidos</legend>

          <select name="pedido" id="pedido" class="form-sele" required>
            <option value="">Selecciona un pedido</option>
            {% for tmp in pedidos %}
              <!-- detalle.id_pedido.id_pedido en si deberia ser detalle.pedido.id_pedido pero, 
                   en el modelo puse id_pedido y no pedido para referenciar el pedido asociado...
              -->
              {% if tmp.id_pedido == detalle.id_pedido.id_pedido %}
                <option value="{{tmp.id_pedido}}" selected>Pedido Nro. {{tmp.id_pedido}}</option>
              {% else %}
                <option value="{{tmp.id_pedido}}">Pedido Nro. {{tmp.id_pedido}}</option>
              {% endif %}
            {% endfor %}
          </select>

          <select name="producto" id="producto" class="form-sele" required>
            <option value="">Selecciona un producto</option>
            {% for tmp in productos %}
            <!-- detalle.id_producto.id_producto en si deberia ser detalle.producto.id_producto pero, 
                 en el modelo puse id_producto y no pedido para referenciar el producto asociado...
            -->
              {% if tmp.id_producto == detalle.id_producto.id_producto %}
                <option value="{{tmp.id_producto}}" selected>{{tmp.nombre}}</option>
              {% else %}
                <option value="{{tmp.id_producto}}">{{tmp.nombre}}</option>
              {% endif %}    
            {% endfor %}
          </select>

          <input
            type="number"
            id="total"
            name="total"
            value={{detalle.total}} 
            placeholder="Total: $"
            class="form-input"
            required
          />

          <input
            type="number"
            id="cantidad"
            name="cantidad"
            value={{detalle.cantidad}}  
            placeholder="Cantidad"
            class="form-input"
            required
          />

          <div id="unete-r"></div>
          {% if mensaje %}
            <div class="alert alert-warning w-50 mx-auto text-center">
                {{mensaje}}
            </div>
          {% endif %} 
          <div class="low-form">
            <input
            id="submit-r"
            type="submit"
            value="Modificar"
            class="form-submit"
            />
            <a href="{% url 'crud' %}">
                <button type="button" class="form-submit form-volver">Volver</button>
            </a>
          </div>
        </form>
      </section>
    </main>

    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
