<footer class="container-fluid">
    
    {% load static %}
    
    <div class="footer-container">
        <!-- Logo -->
        <div class="group-1">
            <img src="{% static '/images/Logo.png' %}" alt="Cargando imagen..." />
        </div>
        <!-- Sobre nosotros -->
        <div class="group-2">
            <h4>Sobre Nosotros</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
                corporis veniam nulla voluptatem. Saepe quibusdam nobis ea
                cupiditate laborum placeat, ad sunt explicabo, corrupti quae
                molestias! Adipisci enim odit eum.
            </p>
        </div>
        <!-- Redes sociales -->
        <div class="group-3">
            <h4>Redes sociales</h4>
            <div class="social-links">
                <a href="#" class=""><img src="{% static '/images/rrss/instagram.svg' %}" alt=""></a>
                <a href="#" class=""><img src="{% static '/images/rrss/square-facebook.svg' %}" alt=""></a>
                <a href="#" class=""><img src="{% static '/images/rrss/x-twitter.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <!-- Copy -->
    <div class="footer-copy">
        <small>&copy; 2024. Coffe Kong - Todos los derechos reservados.</small>
    </div>
</footer>