<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>
    
    {% include "base/header.html" %}
    
    <main class="container-fluid">
      <!-- Inicio offcanva -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Carro de compras</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="products" id="d-products"> </div>
            <div class="carro-bottom">
              <div class="product-total">
                <span id="producto-total">Total a pagar: $</span>
                <hr>
              </div>
              <div class="product-buttons">
                <a href="{% url 'carrito' %}">
                  <button class="product-carro">Ir al carro</button>
                </a>
                <a href="{% url 'pago' %}">
                  <button class="product-pago">Iniciar pago</button>
                </a>
              </div>
            </div>
        </div>
      </div>
      <!-- Fin offcanva -->
      <!-- Tabla de detalles del historial -->
      <div class="detail-header">
        <h1>Historial de pedidos</h1>
        <a href="{% url 'historial' %}">Volver al historial</a>
      </div>
      <section class="detail-container">
        <img src="/images/producto.jpg" alt="Cargando imagen...">
        <table class="table-detail">
            <tr>
              <th>Id del pedido</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>

            <tr>
              <th>Fecha</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
  
            <tr>
              <th>Nombre</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
  
            <tr>
              <th>Rut</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
  
            <tr>
              <th>Teléfono</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
  
            <tr>
              <th>Dirección</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
  
            <tr>
              <th>Total</th> <th class="dos-p">:</th> <td>dato</td>
            </tr>
          </table>
      </section>
    </main>
    
    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formulario.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
