<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>
    
    {% include "base/header.html" %}
    
    <main class="container-fluid">
      
      <!-- Inicio offcanva -->
      
      {% include "base/offcanva.html" %}

      <!-- Fin offcanva -->

      <!-- Tabla de detalles del historial -->
      <div class="detail-header">
        <h1>Historial de pedidos</h1>
        <a href="{% url 'historial' %}">Volver al historial</a>
      </div>
      <section class="detail-container">
        <img src="{% static '/images/Logo.png' %}" alt="Cargando imagen...">
        <table class="table-detail">
            <tr>
              <th>Id del pedido</th> <th class="dos-p">:</th> <td>{{pedido.id_pedido}}</td>
            </tr>

            <tr>
              <th>Fecha</th> <th class="dos-p">:</th> <td>{{pedido.fecha}}</td>
            </tr>

            <tr>
              <th>Rut</th> <th class="dos-p">:</th> <td>{{cliente.run}}</td>
            </tr>
  
            <tr>
              <th>Dirección</th> <th class="dos-p">:</th> <td>{{cliente.direccion}}</td>
            </tr>
  
            <tr>
              <th>Productos</th> <th class="dos-p">:</th> <td>{% for tmp in detalle %}{{tmp.id_producto.nombre}}; {% endfor %}</td>
            </tr>
  
            <tr>
              <th>Total</th> <th class="dos-p">:</th> <td>${{pedido.total_ped}}</td>
            </tr>

            <tr>
              <th>Estado</th> <th class="dos-p">:</th> <td>{{pedido.estado.descripcion}}</td>
            </tr>
          </table>
      </section>
    </main>
    
    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
