<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>
    
    {% include "base/header.html" %}

    <main class="container-fluid">
      
      <!-- Inicio offcanva -->
      
      {% include "base/offcanva.html" %}

      <!-- Fin offcanva -->

      <!-- Tabla de detalles del historial -->
      <h1>Historial de pedidos</h1>
      <section class="historial-detail-container">
        <table class="table-detail">
            <tr>
                <th>Id</th> <th>Fecha</th> <th>Dirección</th> <th>Total</th> <th>Detalle</th>
            </tr>

            {% for pedido in pedidos %}
              <tr>
                  <td>{{pedido.id_pedido}}</td> 
                  <td>{{pedido.fecha}}</td> 
                  <td>{{cliente.direccion}}</td>
                  <td>${{pedido.total_ped}}</td> 
                  <td><a href="{% url 'detalle' pk=pedido.id_pedido %}">Ver</a></td>
              </tr>
            {% endfor %}
            
        </table>
      </section>
    </main>
    
    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
