<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>

    {% include "base/header.html" %}

    <main class="container-fluid">
      
      <!-- Inicio offcanva -->
      
      {% include "base/offcanva.html" %}

      <!-- Fin offcanva -->

      <section class="form-login-container">
        <form action="{% url 'login' %}" method="POST">

          {% csrf_token %}

          <legend>Bienvenidos</legend>
          <div class="form-datos">
            <input
              type="email"
              name="username"
              id="correo-l"
              placeholder="Correo electrónico (*)"
              class="form-input"
              required
            />
            <input
              type="password"
              name="password"
              id="contrasenia-l"
              placeholder="Contraseña (*)"
              class="form-input"
              required
            />
          </div>
          <div class="form-question">
            <a href="{% url 'unete' %}">Registrate aqui</a>
            <a href="{% url 'contrasenia' %}">¿Has olvidado tu contraseña?</a>
          </div>
          {% if mensaje %}
            <div id="unete-l" class="alert alert-warning w-50 mx-auto text-center">
                {{mensaje}}
            </div>
          {% endif %} 
          <input onclick="validarLogin()" id="submit-l" type="submit" value="Iniciar sesión" class="form-submit" />
        </form>
      </section>
    </main>

    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
