<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>
    
    {% include "base/header.html" %}

    <main class="container-fluid">
      
      <!-- Inicio offcanva -->
      
      {% include "base/offcanva.html" %}

      <!-- Fin offcanva -->

      <!-- Section bebidas -->
      <section class="group-b">

        <h1>Bebidas</h1>

        <div class="menu-container">

          {% for tmp in productos %}
            {% if tmp.tipo.id_tipoproducto == 'B' %}
              <!-- Inicio - Producto -->
              <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{tmp.id_producto}}">
                <figure class="product">
                  <img src={{tmp.imagen}} alt="Cargando imagen..." />
                  <figcaption>{{tmp.nombre}}</figcaption>
                </figure>
              </a>
              <!-- Inicio modal -->
              <div
                class="modal fade"
                id="modal-{{tmp.id_producto}}"
                tabindex="-1"
                aria-labelledby="modal-1Label"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="exampleModalLabel">{{tmp.nombre}}</h1>
                      <button
                        onclick="reestablecer('modal-{{tmp.id_producto}}')"
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-body-container">
                        <img
                          src={{tmp.imagen}}
                          alt="Cargando imagen..."
                        />
                        <div class="modal-desc">
                          <h2>Descripción del producto</h2>
                          <p>
                            {{tmp.descripcion}}
                          </p>
                          <div class="modal-desc-down">
                            <div class="modal-price-container">
                              <span class="precio">Precio: </span>
                              <span class="precio" id="h-precio-{{tmp.id_producto}}">${{tmp.precio}}</span>
                            </div>
                            <div class="modal-buttons">
                              <button
                                onclick="menos('h-contador-{{tmp.id_producto}}', 'h-precio-{{tmp.id_producto}}')"
                                class="modal-carro-menos"
                              >
                                -
                              </button>
                              <span class="modal-carro-contador" id="h-contador-{{tmp.id_producto}}"
                                >1</span
                              >
                              <button
                                onclick="mas('h-contador-{{tmp.id_producto}}', 'h-precio-{{tmp.id_producto}}')"
                                class="modal-carro-mas"
                              >
                                +
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        onclick="agregar('add-{{tmp.id_producto}}')"
                        type="button"
                        class="modal-button-add"
                      >
                        Agregar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin modal -->
              <!-- Fin Producto -->
            {% endif %}
          {% endfor %}

        </div>

      </section>
      <hr />
      <!-- Section comida -->
      <section class="group-c">

        <h1>Comida</h1>

        <div class="menu-container">

          {% for tmp in productos %}
            {% if tmp.tipo.id_tipoproducto == 'C' %}
              <!-- Inicio - Producto -->
              <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{tmp.id_producto}}">
                <figure class="product">
                  <img src={{tmp.imagen}} alt="Cargando imagen..." />
                  <figcaption>{{tmp.nombre}}</figcaption>
                </figure>
              </a>
              <!-- Inicio modal -->
              <div
                class="modal fade"
                id="modal-{{tmp.id_producto}}"
                tabindex="-1"
                aria-labelledby="modal-1Label"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="exampleModalLabel">{{tmp.nombre}}</h1>
                      <button
                        onclick="reestablecer('modal-{{tmp.id_producto}}')"
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-body-container">
                        <img
                          src={{tmp.imagen}}
                          alt="Cargando imagen..."
                        />
                        <div class="modal-desc">
                          <h2>Descripción del producto</h2>
                          <p>
                            {{tmp.descripcion}}
                          </p>
                          <div class="modal-desc-down">
                            <div class="modal-price-container">
                              <span class="precio">Precio: </span>
                              <span class="precio" id="h-precio-{{tmp.id_producto}}">${{tmp.precio}}</span>
                            </div>
                            <div class="modal-buttons">
                              <button
                                onclick="menos('h-contador-{{tmp.id_producto}}', 'h-precio-{{tmp.id_producto}}')"
                                class="modal-carro-menos"
                              >
                                -
                              </button>
                              <span class="modal-carro-contador" id="h-contador-{{tmp.id_producto}}"
                                >1</span
                              >
                              <button
                                onclick="mas('h-contador-{{tmp.id_producto}}', 'h-precio-{{tmp.id_producto}}')"
                                class="modal-carro-mas"
                              >
                                +
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        onclick="agregar('add-{{tmp.id_producto}}')"
                        type="button"
                        class="modal-button-add"
                      >
                        Agregar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fin modal -->
              <!-- Fin Producto -->
            {% endif %}
          {% endfor %}
          
      </section>
    </main>
    
    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
