<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% load static %}

    <!-- Link bootstrap -->
    <link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}" />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Coffe Kong</title>
  </head>
  <body>

    {% include "base/header.html" %}

    <main class="container-fluid">
      
      <!-- Inicio offcanva -->
      
      {% include "base/offcanva.html" %}

      <!-- Fin offcanva -->

      <section class="seguimiento-container-1">
        <h1>Seguimiento del pedido</h1>
        <div class="steps">
          <div class="steps-desc">
            <div class="union"></div>
          
            <div class="circle circle-1">
              {% if pedido.estado.descripcion == "Pagado" %}
                <span class="material-symbols-outlined done">
                  done
                </span>
              {% endif %}
            </div>
            
            <div class="circle circle-2">
              {% if pedido.estado.descripcion == "Despachado" %}
                <span class="material-symbols-outlined done">
                  done
                </span>
              {% endif %}
            </div>
            
            <div class="circle circle-3">
              {% if pedido.estado.descripcion == "Entregado" %}
                <span class="material-symbols-outlined done">
                  done
                </span>
              {% endif %}
            </div>
          </div>
          <div class="steps-desc-2">
            <span class="step-detail step-detail-1">Pago</span>
            <span class="step-detail step-detail-2">En despacho hacia destino</span>
            <span class="step-detail step-detail-3">Entregado</span>
          </div>
        </div>
      </section>
      <hr>
      <section class="seguimiento-container-2">
        <h2>Detalle del pedido</h2>
        <table class="table-detail">
          <tr>
            <th>Id del pedido</th> <th class="dos-p">:</th> <td>{{pedido.id_pedido}}</td>
          </tr>

          <tr>
            <th>Fecha</th> <th class="dos-p">:</th> <td>{{pedido.fecha}}</td>
          </tr>

          <tr>
            <th>Rut</th> <th class="dos-p">:</th> <td>{{cliente.run}}</td>
          </tr>

          <tr>
            <th>Dirección</th> <th class="dos-p">:</th> <td>{{cliente.direccion}}</td>
          </tr>

          <tr>
            <th>Productos</th> <th class="dos-p">:</th> <td>{% for tmp in detalle %}{{tmp.id_producto.nombre}}; {% endfor %}</td>
          </tr>

          <tr>
            <th>Total</th> <th class="dos-p">:</th> <td>${{pedido.total_ped}}</td>
        </table>
      </section>
    </main>
    
    {% include "base/footer.html" %}

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
