@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    background-color: #F3EAC9;
    font-family: "Poppins", sans-serif;
    
}

.container-fluid {
    padding: 0; /*Quita el margen que deja por defecto*/
}

/* em = medida adaptable
   rem = medida mas exacta - no adaptable
*/

/* Header */

.navbar {
    background-color: #61888C;
    font-size: 1.25em;
    font-weight: 900;
}

.navbar .navbar-icon {
    display: flex;
    align-items: center;
    margin-left: 0.313em;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: none;  
    color: #BFA980;  
}

.navbar .navbar-icon img {
    width: 7.5vw; 
    height: 14vh;
    margin-right: 0.625rem;
}

.navbar .navbar-icon:hover,
.navbar .navbar-nav .nav-link:hover,
.navbar .right-side .carro:hover,
.navbar .right-side .drop-button .acc:hover,
.navbar .right-side .drop-button:hover {
    color: white;  
}

.navbar .navbar-nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 30vw;
}

.navbar .navbar-nav .nav-link {
    color: #BFA980;
    font-weight: 900;
    font-size: 1.18rem;
    text-align: center;
}

.navbar .right-side {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1em;
    color: #BFA980;
}

.navbar .right-side .right-side-carro {
    display: flex;
    justify-content: end;
    position: relative;
}

.navbar .right-side .right-side-carro .carro {
    font-size: 1.815em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-right: 0.188em;
    color: #BFA980;
    position: relative;
    z-index: 0;
}

.navbar .right-side .right-side-carro #shopping-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    background-color: #BFA980;
    border-radius: 50%;
    color: #436A6F;
    font-size: 0.6em;
    font-weight: bold;
    position: absolute;
    top: 2vh; 
    z-index: 1;
}

/* Carro desplegado */
.offcanvas {
    background-color: #61888C;
    min-width: 30vw;
}

.offcanvas .offcanvas-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
}

.offcanvas .offcanvas-header .offcanvas-title {
    color: #BFA980;
    font-size: 1.6em;
    font-weight: 800;
}

.offcanvas .offcanvas-body .products .product {
    display: flex;
    flex-direction: column;
}

.offcanvas .offcanvas-body .products .product .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas .offcanvas-body .products .product hr {
    color: white;
    font-weight: 500;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc h2{
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc img{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    border: 0.318rem solid #436A6F;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc .product-remove {
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #61888C;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-price {
    display: flex;
    justify-content: space-around;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-price .precio,
.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-price .precio-2 {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add {
    display: flex;
    justify-content: center;
    margin-top: 1.3em;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add .product-menos,
.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add .product-contador,
.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add .product-mas{
    background-color: #61888C;
    border: none;
    color: white;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.offcanvas .offcanvas-body .products .product .product-container .product-desc .product-remove:hover,
.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add .product-menos:hover,
.offcanvas .offcanvas-body .products .product .product-container .product-desc-2 .product-add .product-mas:hover{
    color: #436A6F;
}

.offcanvas .offcanvas-body .carro-bottom .product-total hr {
    color: white;
    font-weight: 500;
}

.offcanvas .offcanvas-body .carro-bottom .product-total #producto-total {
    display: inline-block;
    color: white;
    padding-left: 0.5em;
    font-size: 1em;
    font-weight: 600;
}

.offcanvas .offcanvas-body .carro-bottom .product-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
}

.offcanvas .offcanvas-body .carro-bottom .product-buttons .product-carro,
.offcanvas .offcanvas-body .carro-bottom .product-buttons .product-pago {
    background-color: #BFA980;
    border: 0.218rem solid #436A6F;
    border-radius: 1.25em;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.2em 1em 0.2em 1em;
}

.offcanvas .offcanvas-body .carro-bottom .product-buttons .product-carro:hover,
.offcanvas .offcanvas-body .carro-bottom .product-buttons .product-pago:hover{
    border: 0.218em solid white;
}

.navbar .right-side .drop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #BFA980;
    background-color: #61888C;
}

.navbar .right-side .drop-button .acc {
    font-size: 1.815em;
    color: #BFA980;
    margin-right: 0;
}

.navbar .right-side .drop-menu .drop-options {
    background-color: #BFA980;
    border: 0.188rem solid #436A6F;
    right: 0; /*Posiciona el menu al borde derecho 
                del contenedor padre / drop-option*/
    left: auto; /*No limita el menu hacia la izquierda / drop-option*/
}

.navbar .right-side .drop-menu .drop-options li {
    display: flex;
    justify-content: center;
}

.navbar .right-side .drop-menu .drop-options li a {
    text-decoration: none;
    color: white
}

.navbar .right-side .drop-menu .drop-options li a:hover {
    color: #436A6F;
}

.navbar .navbar-toggler{
    border: 0.1rem solid #61888C;
    margin-left: auto;
    margin-right: 1.25em;
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: #BFA980;
    margin-top: 12.5em;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 3.125em;
    padding: 1.25rem;
    color: white;
}

.footer-container .group-1 img {
    width: 11vw;
    height: 20vh;
}

.footer-container .group-2 p {
    width: 23vw;
    text-align: justify;
}

.footer-container .group-3 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.footer-container .group-3 .social-links {
    display: flex;
    justify-content: space-around;
}

.footer-container .group-3 a img{
    width: 1.535vw;
}

/* Cgpt :/ */
.footer-container .group-3 img:hover {
    filter: invert(80%) 
            sepia(70%) 
            saturate(2226%) 
            hue-rotate(171deg) 
            brightness(99%) 
            contrast(95%);
}

.footer-copy {
    margin-top: 1.25em;    
    text-align: center;
    color: white;
    opacity: 70%;
}

/* Main index.html */

/* Section 1 */

.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    background-color: #436A6F;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.section-1 .carousel .carousel-item{
    height: 60vh;
    width: 50vw;
}

.section-1 .carousel .carousel-item img {
    height: 60vh;
    width: 50vw;
}

.section-1 .compra {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.section-1 .compra .text-compra {
    text-align: center;
    font-size: 1.875em;
    padding: 0em 1em 0em 1em;
    font-weight: 700;
    color: #BFA980;
}

.section-1 .btn-compra {
    border-radius: 2.5rem;
    border: 0.153em solid #61888C;
    background-color: #BFA980;
    padding: 0.1rem 1rem 0.1rem 1rem;
    font-size: 1.775rem;
    font-weight: 700;
    color: white;
}

.section-1 .btn-compra:hover {
    border: 0.153em solid white;
}

/* Section 2 */

h1 {
    font-weight: 900;
    font-size: 1.875em;
    margin-top: 1.175em;
    margin-bottom: 2.25em;
    margin-left: 0.8em;
    color: #BFA980;
}

.section-2 .products {
    display: grid;
    grid-template-columns: repeat(2, minmax(32vw, 32vw));
    gap: 6.25em;
    justify-content: center;
}

.section-2 .products .card {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 45vh;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #B0BCA6;
}

.section-2 .products .card img {
    width: 12vw;
    height: 34vh;
    margin: auto;
    padding: 1em 0 0.3em 1em;
    border-radius: 1.875rem;
}

.section-2 .products .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 42vh;
}

.section-2 .products .card .text-section {
    text-align: center;
    color: white;
}

.section-2 .products .card .text-section h3{
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 700;   
}

.section-2 .products .card .text-section p{
    text-align: justify;  
    font-size: 0.9em; 
    font-weight: 550;
}

.section-2 .products .card .price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    padding: 0.625rem;
    text-align: center;
    color: white;
    font-size: 0.9em;
    font-weight: 550;
}

.section-2 .products .card .price-section .btn {
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #BFA980;
}

.section-2 .products .card .price-section .btn:hover {
    border: 0.188rem solid white;
}

/* Main menu.html */

.group-b .menu-container,
.group-c .menu-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.875em;
    margin-top: 3.125em;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

.menu-container .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 18vh;
}

.menu-container a{
    text-decoration: none;
}

.menu-container .product img {
    width: 6.5vw;
    height: 13vh;
    border-radius: 50%;
    border: 0.25rem solid #61888C;
}

.menu-container .product figcaption {
    color: #BFA980;
    font-size: 1.225em;
    font-weight: 600;
}

hr {
    color: #BFA980;
}

/* Modal menu.hmtl */

.modal {
    margin-top: 10vh;
}

.modal .modal-content {
    background-color: #B0BCA6;
    border: 0.2rem solid #436A6F;
}

.modal .modal-content .modal-header .modal-title {
    margin: auto;
    margin-left: 0;
}

.modal .modal-content .modal-header .modal-title,
.modal .modal-content .modal-body .modal-body-container .modal-desc h2,
.modal .modal-content .modal-body .modal-body-container .modal-desc p {
    color: white;
}

.modal .modal-content .modal-header .btn-close {
    font-size: 1.1em;
}

.modal .modal-content .modal-body .modal-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.modal .modal-content .modal-body .modal-body-container img {
    width: 14vw;
    border-radius: 1.875rem;
    height: 35vh;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    height: 50vh;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc p {
    text-align: justify;
    font-weight: 400;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-desc-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-menos, 
.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-mas {
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    color: #436A6F;
    background-color: #B0BCA6;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-menos:hover,
.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-mas:hover {
    color: white;
}

.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-desc-down .precio,
.modal .modal-content .modal-body .modal-body-container .modal-desc .modal-buttons .modal-carro-contador {
    font-size: 1.5em;
    font-weight: 600;
    color: #436A6F;
}

.modal .modal-content .modal-footer .modal-button-add {
    color: white;
    background-color: #BFA980;
    border: 0.188rem solid #436A6F;
    border-radius: 1.25rem;
    padding: 0.3em 1.4em 0.3em 1.4em;
    font-weight: 700;
}

.modal .modal-content .modal-footer .modal-button-add:hover{
    border: 0.188rem solid white;
}

/* Main unete.html */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    margin: auto;
    padding: 0.625rem;
}

.form-container form legend {
    color: #436A6F;
    font-size: 1.563em;
    font-weight: 600;
    text-align: center;
}

.form-container form .form-input {
    width: 28vw;
    height: 5vh;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding: 1.125rem;
}


.form-container form .form-sele {
    width: 28vw;
    height: 6vh;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding-left: 1em;
    appearance: none;
}

.form-container form .form-submit {
    width: 10vw;
    height: 6vh;
    background-color: #61888C;
    color: white;
    font-size: 0.85em;
    font-weight: 500;
    border: 0.188rem solid #436A6F;
    border-radius: 2.5rem;
    margin-top: 0.625em;
    margin-left: 9vw;
}

.form-container form .form-submit:hover {
    border: 0.188rem solid white;
}


/* Main contrasenia.html y seguimiento.html */

.form-forgot-container,
.form-seguimiento-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-forgot-container p,
.form-seguimiento-container p {
    font-size: 1.1em;
    color: #436A6F;
    max-width: 60vw;
}

.form-forgot-container form .form-input,
.form-seguimiento-container form .form-input {
    width: 28vw;
    height: 5vh;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding: 1.125rem;
}

.form-forgot-container form .form-submit,
.form-seguimiento-container form .form-submit,
/* Provisorio para poder seguir a seguimiento-2, ya que el 
   input original esta dentro del form*/
.form-seguimiento-container .form-submit {
    width: 10vw;
    height: 6vh;
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    background-color: #61888C;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
}

.form-forgot-container form .form-submit:hover,
.form-seguimiento-container form .form-submit:hover,
/* Provisorio */
.form-seguimiento-container .form-submit:hover{
    border: 0.188rem solid white;
}

/* Main seguimiento-2.html */

.seguimiento-container-1 h1 {
    text-align: center;
    font-size: 1.8em;
}

.seguimiento-container-1 {
    margin-bottom: 10vw;
}

.seguimiento-container-1 .steps {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 60vh;
}

.seguimiento-container-1 .steps .steps-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.seguimiento-container-1 .steps .steps-desc .union {
    position: absolute;
    z-index: 0;
    width: 2vw;
    height: 59vh;
    margin-top: 0.5vh;
    background-color: #B0BCA6;
    border: 0.3rem solid #436A6F;
}

.seguimiento-container-1 .steps .steps-desc .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 8vh;
    z-index: 1;
    position: relative;
    background-color: #B0BCA6;
    border: 0.3rem solid #436A6F;
    border-radius: 50%;
}

.seguimiento-container-1 .steps .steps-desc .circle .done {
    font-size: 2.5em;
    font-weight: 800;
    color: #436A6F;
}

.seguimiento-container-1 .steps .steps-desc-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.seguimiento-container-1 .steps .steps-desc-2 .step-detail {
    color: #436A6F;
    font-weight: 800;
    padding-left: 1em;
}

.seguimiento-container-1 .steps .steps-desc-2 .step-detail-1,
.seguimiento-container-1 .steps .steps-desc-2 .step-detail-2 {
    margin-bottom: 18vh;
}

.seguimiento-container-2 h2 {
    margin-left: 1em;
    font-size: 1.8em;
    font-weight: 700;
    color: #BFA980;
}

.seguimiento-container-2 .table-detail {
    margin-top: 2em;
    margin-left: 5em;
}

.table-detail th {
    padding-right: 5em;
    padding-bottom: 1em;
    color: #436A6F;
}

.table-detail .dos-p {
    padding-right: 2em;
}

.table-detail td {
    padding-bottom: 1em;
    width: 10vw;
    color: #436A6F;
    text-align: center;
}

.seguimiento-container-2 .table-detail th,
.seguimiento-container-2 .table-detail .dos-p,
.seguimiento-container-2 .table-detail td {
    font-size: 1.1em;
}

/* Main carrito */

.carro-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    width: 100%;
    height: 100%;
}

.carro-container img {
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    border: 0.25em solid #61888C;
}

.carro-container .carro-inf {
    display: flex;
    gap: 10em;
}

.carro-container .carro-inf .carro-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carro-container .carro-inf .carro-desc h2 {
    font-size: 1.25em;
    font-weight: 800;
    color: #BFA980;
    margin-bottom: 1.25em;
}

.carro-container .carro-inf .carro-desc .carro-buttons {
    display: flex;
    justify-content: center;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-menos {
    width: 2.5vw;
    height: 5vh;
    background-color: #F3EAC9;
    border: 0.15rem solid #61888C;
    color: #BFA980;
    font-weight: 800;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}


.carro-container .carro-inf .carro-desc .carro-buttons .carro-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 5vh;
    background-color: #F3EAC9;
    border-top: 0.15rem solid #61888C;
    border-bottom: 0.15rem solid #61888C;
    color: #BFA980;
    font-weight: 800;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-mas {
    width: 2.5vw;
    height: 5vh;
    background-color: #F3EAC9;
    border: 0.15rem solid #61888C;
    color: #BFA980;
    font-weight: 800;
    border-bottom-right-radius: 1.25em;
    border-top-right-radius: 1.25em;
}

.carro-container .carro-inf .carro-desc .carro-buttons .carro-menos:hover,
.carro-container .carro-inf .carro-desc .carro-buttons .carro-mas:hover {
    color: #436A6F;
}

.carro-container .carro-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #BFA980;
    font-weight: 600;
    font-size: 1.563em;
}

.carro-container .carro-total h2{
    font-size: 0.85em;
    font-weight: 800;
    color: #BFA980;
}

.carro-container .carro-eliminar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    color: #BFA980;
    background-color: #F3EAC9;
    border: none;
}

.carro-container .carro-eliminar:hover {
    color: #436A6F;
}

.carro-pay .carro-pay-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carro-pay .carro-pay-container .carro-pagar {
    color: #BFA980;
    font-size: 1.475em;
    font-weight: 600;
    padding: 1.25em;
}

.carro-end .carro-end-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.125em;
}

.carro-end .carro-end-container .option-1,
.carro-end .carro-end-container .option-2 {
    width: 14vw;
    height: 6vh;
    border: 0.188rem solid #61888C;
    border-radius: 1.25em;
    background-color: #436A6F;
    color: white;
    font-weight: 400;
}

.carro-end .carro-end-container .option-1:hover,
.carro-end .carro-end-container .option-2:hover{ 
    border: 0.188rem solid white;
}


/* Main pago.html */

.pago-container-1 .steps {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1em;
    width: 80vw;
    height: 20vh;
}

.pago-container-1 .steps .steps-desc {
    display: flex;
    justify-content: space-between;
}

.pago-container-1 .steps .steps-desc .union {
    position: absolute;
    z-index: 0;
    width: 79vw;
    height: 4vh;
    margin-top: 2.5vh;
    margin-left: 0.5vw;
    background-color: #B0BCA6;
    border: 0.3rem solid #436A6F;
}

.pago-container-1 .steps .steps-desc .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 8vh;
    z-index: 1;
    position: relative;
    background-color: #B0BCA6;
    border: 0.3rem solid #436A6F;
    border-radius: 50%;
}


.pago-container-1 .steps .steps-desc .circle .done {
    font-size: 2.5em;
    font-weight: 800;
    color: #436A6F;
}

.pago-container-1 .steps .steps-desc-2 {
    display: flex;
    justify-content: space-between;
}

.pago-container-1 .steps .steps-desc-2 .step-detail {
    color: #436A6F;
    font-weight: 800;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-1{
    margin-left: 0;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-2{
    margin-left: 8vh;
}

.pago-container-1 .steps .steps-desc-2 .step-detail-3{
    margin-right: 0;
}

.pago-datos {
    color: #436A6F;
    font-weight: 600;
    margin-left: 0.5em;
}

.pago-container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    margin-left: 8.5em;
}

/* Primer paso del pago */

.pago-container-2 .pago-datos form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10em;
}

.pago-container-2 .pago-datos form .form-input {
    width: 20vw;
    height: 6vh;
    border: 0.158rem solid #436A6F;
    border-radius: 0.6em;
    background-color: #F3EAC9;
    margin-bottom: 1.5em;
}

.pago-container-2 .pago-datos form .form-submit {
    width: 12vw;
    height: 5vh;
    border: 0.218rem solid #436A6F;
    border-radius: 0.6em;
    color: white;
    font-weight: 700;
    background-color: #61888C;
}

.pago-container-2 .pago-datos form .form-submit:hover {
    border: 0.218rem solid white;
}

/* Segundo paso del pago */

.pago-container-2 .pago-metodo .pago-option {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.pago-container-2 .pago-metodo .m-pago {
    border: 0.218rem solid #436A6F;
    border-radius: 0.5em;
    background-color: #F3EAC9;
    color: #BFA980;
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1em;
    width: 30vw;
    height: 8vh;
}

.pago-container-2 .pago-metodo .m-pago:hover{
    color: white;
    border: 0.218rem solid white;
    background-color: #B0BCA6;
}

.pago-container-2 .pago-metodo .m-pago-cont {
    width: 12vw;
    height: 5vh;
    font-weight: 600;
    margin: auto;
    margin-left: 9vw;
    color: white;
    background-color: #61888C;
    border: 0.218rem solid #436A6F;
    border-radius: 0.5em;
}

.pago-container-2 .pago-metodo .m-pago-cont:hover {
    border: 0.218rem solid white;
}

/* Tercer paso del pago */

.pago-container-2 .pago-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pago-container-2 .pago-details .button-pagar {
    width: 12vw;
    height: 5vh;
    font-weight: 600;
    margin-top: 1em;
    color: white;
    background-color: #61888C;
    border: 0.218rem solid #436A6F;
    border-radius: 0.5em;
}

.pago-container-2 .pago-details .button-pagar:hover {
    border: 0.218rem solid white;
}

/* Resumen del pedido */

.pago-container-2 .pago-resumen {
    display: flex;
    flex-direction: column;
    border: 0.118rem solid #436A6F;
    border-radius: 0.3em;
    padding: 1.5em;
    width: 30vw;
    height: 70vh;
    overflow-y: scroll;
}

.pago-container-2 .pago-resumen h2 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 600;
    color: #436A6F;
}

.pago-container-2 .pago-resumen .product .product-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pago-container-2 .pago-resumen .product .product-desc h3 {
    font-size: 1.15em;
    font-weight: 500;
    color: #436A6F;
}

.pago-container-2 .pago-resumen .product .product-desc img {
    width: 7vw;
    height: 14vh;
    border: 0.218rem solid #436A6F;
    border-radius: 50%;
}

.pago-container-2 .pago-resumen .product .product-desc-2 .product-price,
.pago-container-2 .pago-resumen .product .product-desc-2 .product-count,
.pago-container-2 .pago-resumen .pago-total {
    display: flex;
    justify-content: space-between;
    color: #436A6F;
    font-weight: 500;
}

/* Main ingreso.html */

.form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    margin: auto;
    margin-top: 10vh;
    padding: 0.625rem;
}

.form-login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login-container form legend {
    color: #436A6F;
    font-size: 2.2em;
    font-weight: 650;
    text-align: center;
}

.form-login-container form .form-datos .form-input {
    width: 28vw;
    height: 5vh;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
    background-color: #F3EAC9;
    margin: 0.625em;
    padding: 1.125rem;
}

.form-login-container form .form-question {
    display: flex;
    justify-content: space-between;
    width: 28vw;
    padding: 0 0.313rem 0.938rem 1.563rem;
    margin-bottom: 2vh;
}

.form-login-container form .form-question a {
    text-decoration: none;
    font-size: 0.875em;   
    color: #BFA980;
    font-weight: 600; 
}

.form-login-container form .form-question a:hover {
    color: #436A6F;
}

.form-login-container form .form-submit {
    width: 15vw;
    height: 5vh;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #61888C;
    border: 0.188rem solid #436A6F;
    border-radius: 1.875rem;
}

.form-login-container form .form-submit:hover{
    border: 0.188rem solid white;
}


/* Main historial.html */

.historial-detail-container .table-detail {
    margin: auto;
    text-align: center;
}

.historial-detail-container .table-detail th,
.historial-detail-container .table-detail td{
    padding-left: 4em;
    padding-right: 4em;
}

.historial-detail-container .table-detail td a{
    text-decoration: none;
    color: #436A6F;
    font-weight: 800;
}

.historial-detail-container .table-detail td a:hover{
    color: white;
}

.historial-detail-container .table-detail th,
.historial-detail-container .table-detail td {
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border-bottom: 0.12rem solid #436A6F;
}

/* Main detalles.html */

.detail-header {
    display: flex;
    justify-content: space-between;
}

.detail-header a {
    height: 4vh;
    text-decoration: none;
    color: #436A6F;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.5em 0.7em 0 0;
    margin-left: auto;
}

.detail-header a:hover {
    color: white;
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-container img {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    border: 0.418rem solid #436A6F;
}

.detail-container .table-detail {
    margin-top: 5em;
    margin-left: 3vw;
}

/* Vistas de administrador */
.header-crud {
    display: flex;
    background-color: #436A6F;
    height: 15vh;
}

.header-crud .crud-img {
    width: 5vw;
    height: 10vh;
    margin-left: 0;
    margin-top: 1vw;
    position: absolute;
}

.header-crud .crud-title {
    position: relative;
    text-align: center;
    margin: auto;
}

.main-crud .ct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.main-crud .ct-container .table-crud .table-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #436A6F;
    height: 6vh;
}

.main-crud .ct-container .table-crud {
    border: 0.1em solid #436A6F;
    margin: auto;
    margin-top: 10vh;
    width: 80vw;
    color: #436A6F;
    text-align: center;
    padding: 0;
}

.main-crud .ct-container .table-crud .th-crud,
.main-crud .ct-container .table-crud .td-crud {
    height: 8vh;
}

.main-crud .ct-container .table-crud .td-crud .crud-a {
    text-decoration: none;
    color: #436A6F;
}

.main-crud .ct-container .table-crud .td-crud .crud-a:hover {
    color: white;
}

.main-crud .ct-container .crud-add {
    margin-top: 2.5vh;
}

.main-crud .ct-container .crud-add .crud-badd {
    width: 20vw;
    height: 6vh;
    background-color: #61888C;
    color: white;
    font-size: 1em;
    font-weight: 800;
    border: 0.188rem solid #436A6F;
    border-radius: 2.5rem;
}

.main-crud .ct-container .crud-add .crud-badd:hover {
    border: 0.188rem solid white;
}

/* Form del crud - Registro */
.form-container form {
    margin-bottom: 20vh;
}

.form-container form .low-form {
    display: flex;
    justify-content: space-evenly;
}

.form-container form .low-form .form-submit {
    margin-top: 2vh;
    margin: 0;
}