<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    <!-- Link style -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <!-- Link iconos -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Administrador</title>
</head>
<body>
    <!-- Header -->
    {% include "base/header_adm.html" %}

    <!-- Lista de todas las entidades para su propio crud -->
    <div class="main-crud">
        <!-- Vendedores -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Vendedores</caption>
                <thead>
                    <th class="th-crud">Rut</th>
                    <th class="th-crud">Nombres</th>
                    <th class="th-crud">Apellidos</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if vendedores %}
                        {% for tmp in vendedores %}
                            <tr>
                                <td class="td-crud">{{tmp.run}}</td>
                                <td class="td-crud">{{tmp.nombres}}</td>
                                <td class="td-crud">{{tmp.apaterno}} {{tmp.amaterno}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'v_find' pk=tmp.run %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'v_del' pk=tmp.run %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'v_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar vendedor
                </button>
            </a>
        </article>

        <!-- Cliente -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Clientes</caption>
                <thead>
                    <th class="th-crud">Rut</th>
                    <th class="th-crud">Nombres</th>
                    <th class="th-crud">Apellidos</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if clientes %}
                        {% for tmp in clientes %}
                            <tr>
                                <td class="td-crud">{{tmp.run}}</td>
                                <td class="td-crud">{{tmp.nombres}}</td>
                                <td class="td-crud">{{tmp.apaterno}} {{tmp.amaterno}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'c_find' pk=tmp.run %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'c_del' pk=tmp.run %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'c_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar cliente
                </button>
            </a>
        </article>
        
        <!-- Tarjetas de clientes -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Tarjetas de clientes</caption>
                <thead>
                    <th class="th-crud">Número de tarjeta</th>
                    <th class="th-crud">Cliente</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if tarjetas %}
                        {% for tmp in tarjetas %}
                            <tr>
                                <td class="td-crud">{{tmp.nro_tarjeta}}</td>
                                <td class="td-crud">{{tmp.cliente}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'tc_find' pk=tmp.nro_tarjeta %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'tc_del' pk=tmp.nro_tarjeta %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'tc_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar tarjeta de cliente
                </button>
            </a>
        </article>
        
        <!-- Estados de pedido -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Estados de pedido</caption>
                <thead>
                    <th class="th-crud">Id</th>
                    <th class="th-crud">Descripcion</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if estados %}
                        {% for tmp in estados %}
                            <tr>
                                <td class="td-crud">{{tmp.id_estado}}</td>
                                <td class="td-crud">{{tmp.descripcion}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'e_find' pk=tmp.id_estado %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'e_del' pk=tmp.id_estado %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'e_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar estado
                </button>
            </a>
        </article>
        
        <!-- Pedidos -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Pedidos</caption>
                <thead>
                    <th class="th-crud">Id</th>
                    <th class="th-crud">Fecha</th>
                    <th class="th-crud">Cliente</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if pedidos %}
                        {% for tmp in pedidos %}
                            <tr>
                                <td class="td-crud">{{tmp.id_pedido}}</td>
                                <td class="td-crud">{{tmp.fecha}}</td>
                                <td class="td-crud">{{tmp.cliente}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'p_find' pk=tmp.id_pedido %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'p_del' pk=tmp.id_pedido %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'p_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar pedido
                </button>
            </a>
        </article>
        
        <!-- Detalles de pedidos -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Detalles de pedidos</caption>
                <thead>
                    <th class="th-crud">Id del Pedido</th>
                    <th class="th-crud">Id del Producto</th>
                    <th class="th-crud">Total</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if detallePedidos %}
                        {% for tmp in detallePedidos %}
                            <tr>
                                <td class="td-crud">{{tmp.id_pedido}}</td>
                                <td class="td-crud">{{tmp.id_producto}}</td>
                                <td class="td-crud">{{tmp.total}}</td>
                                <td class="td-crud">
                                    <a href="#" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="#" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'dt_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar detalle de pedido
                </button>
            </a>
        </article>
        
        <!-- Productos -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Productos</caption>
                <thead>
                    <th class="th-crud">Id</th>
                    <th class="th-crud">Nombre</th>
                    <th class="th-crud">Tipo</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if productos %}
                        {% for tmp in productos %}
                            <tr>
                                <td class="td-crud">{{tmp.id_producto}}</td>
                                <td class="td-crud">{{tmp.nombre}}</td>
                                <td class="td-crud">{{tmp.tipo}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'pr_find' pk=tmp.id_producto %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'pr_del' pk=tmp.id_producto %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'pr_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar producto
                </button>
            </a>
        </article>
        
        <!-- Tipos de Productos -->
        <article class="ct-container">
            <table class="table-crud">
                <caption class="table-title">Tipos de Productos</caption>
                <thead>
                    <th class="th-crud">Id</th>
                    <th class="th-crud">Descripcion</th>
                    <th class="th-crud">Modificar</th>
                    <th class="th-crud">Eliminar</th>
                </thead>
                <tbody>
                    {% if tipoProductos %}
                        {% for tmp in tipoProductos %}
                            <tr>
                                <td class="td-crud">{{tmp.id_tipoproducto}}</td>
                                <td class="td-crud">{{tmp.descripcion}}</td>
                                <td class="td-crud">
                                    <a href="{% url 'tp_find' pk=tmp.id_tipoproducto %}" class="crud-a crud-upd">
                                        <span class="material-symbols-outlined"> edit </span>
                                    </a>
                                </td>
                                <td class="td-crud">
                                    <a href="{% url 'tp_del' pk=tmp.id_tipoproducto %}" class="crud-a crud-del">
                                        <span class="material-symbols-outlined"> delete </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'tp_add' %}" class="crud-a crud-add">
                <button type="button" class="crud-badd">
                    Agregar tipo de producto
                </button>
            </a>
        </article>
    </div>

    <!-- jquery -->
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>