<!-- Update estados de pedido -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <!-- Link bootstrap -->
    <link
      rel="stylesheet"
      href="{% static '/css/bootstrap/bootstrap.min.css' %}"
    />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}" />
    <!-- Link iconos -->
    <title>Administrador</title>
  </head>
  <body>
    <!-- Header -->
    {% include "base/header_adm.html" %}

    <!-- Main -->
    <main>
      <h1>Modificación de Estados de pedido</h1>
      <section class="form-container">
        <form action="{% url 'e_upd' %}" method="POST">
          {% csrf_token %}

          <legend>Estados de pedido</legend>
          
          <input
            type="text"
            id="id_estado"
            name="id_estado"
            value={{estado.id_estado}}
            placeholder="id_estado"
            class="form-input"
            readonly 
            required
          />

          <input
            type="text"
            id="estado"
            name="estado"
            value={{estado.descripcion}}
            placeholder="Estado"
            class="form-input"
            required
          />

          <div id="unete-r"></div>
          {% if mensaje %}
            <div class="alert alert-warning w-50 mx-auto text-center">
                {{mensaje}}
            </div>
          {% endif %} 
          <div class="low-form">
            <input
            id="submit-r"
            type="submit"
            value="Modificar"
            class="form-submit"
            />
            <a href="{% url 'crud' %}">
                <button type="button" class="form-submit form-volver">Volver</button>
            </a>
          </div>
        </form>
      </section>
    </main>

    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
