<!-- Update pedidos -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <!-- Link bootstrap -->
    <link
      rel="stylesheet"
      href="{% static '/css/bootstrap/bootstrap.min.css' %}"
    />
    <!-- Link style y responsive style-->
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}" />
    <!-- Link iconos -->
    <title>Administrador</title>
  </head>
  <body>
    <!-- Header -->
    {% include "base/header_adm.html" %}

    <!-- Main -->
    <main>
      <h1>Modificación de Pedidos</h1>
      <section class="form-container">
        <form action="{% url 'p_upd' %}" method="POST">
          
          {% csrf_token %}

          <legend>Pedidos</legend>
          <input
            type="text"
            id="id_pedido"
            name="id_pedido"
            value={{pedido.id_pedido}}
            placeholder="Id del pedido"
            class="form-input"
            readonly 
            required
          />
          <input
            type="date"
            id="fecha"
            name="fecha"
            value={{pedido.fecha|date:"Y-m-d"}}
            placeholder="Fecha del pedido"
            class="form-input"
            required
          />
          <input
            type="number"
            id="total"
            name="total"
            value={{pedido.total_ped}}
            placeholder="Total del pedido"
            class="form-input"
            required
          />
          <select name="cliente" id="cliente" class="form-sele" required>
            <option value="">Selecciona un cliente</option>
            {% for tmp in clientes %}
                {% if tmp.run == pedido.cliente.run %}
                    <option value="{{tmp.run}}" selected>{{tmp.nombres}} {{tmp.apaterno}} {{tmp.amaterno}}</option>
                {% else %}
                    <option value="{{tmp.run}}">{{tmp.nombres}} {{tmp.apaterno}} {{tmp.amaterno}}</option>
                {% endif %}
            {% endfor %}
          </select>
          <select name="destinatario" id="destinatario" class="form-sele" required>
            <option value="">Selecciona un destinatario</option>
            {% for tmp in destinatarios %}
                {% if tmp.run_d == pedido.destinatario.run_d %}
                    <option value="{{tmp.run_d}}" selected>{{tmp.nombre}}</option>
                {% else %}
                    <option value="{{tmp.run_d}}">{{tmp.nombre}}</option>
                {% endif %}
            {% endfor %}
          </select>
          <select name="estado" id="estado" class="form-sele" required>
            <option value="">Selecciona un estado</option>
            {% for tmp in estados %}
                {% if tmp.id_estado == pedido.estado.id_estado %}
                    <option value="{{tmp.id_estado}}" selected>{{tmp.descripcion}}</option>
                {% else %}
                    <option value="{{tmp.id_estado}}">{{tmp.descripcion}}</option>
                {% endif %}
            {% endfor %}
          </select>

          <div id="unete-r"></div>
          {% if mensaje %}
            <div class='{{design}}'>
                {{mensaje}}
            </div>
          {% endif %} 
          <div class="low-form">
            <input
            id="submit-r"
            type="submit"
            value="Modificar"
            class="form-submit"
            />
            <a href="{% url 'crud' %}">
                <button type="button" class="form-submit form-volver">Volver</button>
            </a>
          </div>
        </form>
      </section>
    </main>

    <!-- Js propio -->
    <script src="{% static '/js/productos.js' %}"></script>
    <script src="{% static '/js/formularios.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
